<div class="modal" id="recoveryModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Recuperar contraseña</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="E-mail">
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Enviar recuperación</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>